$primary-color: #c19999;
$secondary-color: white;
$font: 'Libre Baskerville', serif;
$padding: 15px;
$margin: 15px;
$primary-width: 300px;
$primary-border-radius: 20px;
$primary-border: solid 3px;
$primary-font-size: 30pt;