@import "../../assests/variables.scss";

.toDoList {
  border: $primary-border;
  background-color: $primary-color;
  color: $secondary-color;
  padding: $padding;
  margin: $margin;
  border-radius: $primary-border-radius;
  font-size: $primary-font-size;
  width: $primary-width;
}
