@import "../../assests/variables.scss";

.mealPlanHeader {
  font-size: $primary-font-size;
  color: $secondary-color;
  padding: $padding;
  border: $primary-border;
  border-radius: $primary-border-radius;
  margin: $margin;
  width: $primary-width;
  background-color: $primary-color;
}

.mealPlanInput {
  width: 200px;
  height: 30px;
  border-radius: 8px;
}

.mealPlanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}