@import "../../assests/variables.scss";


.menuContainer {
  list-style: none;
  color: white;
  text-align: right;
  border: $primary-border;
  width: $primary-width;
  padding: 5px;
  border-radius: $primary-border-radius;
}

.dropDownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: inline-block;
  span {
    color: white;
  }
}
