body {
  background-image: url(assests/pink-wall.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  padding: 15pt;
}

.App-header {
  font-size: 40pt;
  color: white;
}
